{% extends 'tables/base.html' %}

{% block content %}

<script>

// yet to add ..
// add bugs
// add invaders
// add glowstick animations
// add help animations
// toggle show stats?

//Cookies dealing with time
console.log(getCookie("time"));
var start = Date.now()

if (getCookie("tutorial") != ''){//if cookie for timing exists
    var tutorial = getCookie('tutorial').split(',');//use that as value from which to count up
    var tutorial1 = tutorial[0];
    var tutorial2 = tutorial[1];
    var tutorial3 = tutorial[2];
} else {
    var tutorial1 = 'true';
    var tutorial2 = 'true';
    var tutorial3 = 'true';
}

if (getCookie("time") != ''){//if cookie for timing exists
    var sec = Number(getCookie('time'));//use that as value from which to count up
} else {
    var sec = 0;//start from zero
}

//Cookies dealing with scores
if (getCookie("correct") != ''){//if cookie exists
    var correct = Number(getCookie('correct'));//use that as value from which to count up
} else {
    var correct = 0;//start from zero
}

if (getCookie("total") != ''){//if cookie exists
    var total = Number(getCookie('total'));//use that as value from which to count up
} else {
    var total = 0;//start from zero
}

if (getCookie("tableMode") != ''){//if cookie exists
    var modeCookieArray = getCookie('tableMode').split(',');//use that as value from which to count up
} else {
    var modeCookieArray = ['r',null]; // with random mode. This should only happen the first time the page is loaded
}
var tableMode = modeCookieArray[0]
console.log('tableMode:',tableMode)

if (getCookie("itemType") != ''){//if cookie exists
    var itemType = getCookie('itemType'); // get the string of the dictionary
} else {
    var itemType = 'glowstick'
}



if (getCookie(itemType) != ''){//if cookie exists
    var itemDictStr = getCookie(itemType); // get the string of the dictionary
    itemDict = JSON.parse(itemDictStr) // convert to a dictionary
} else {
    itemDict = {}
}
console.log(Object.keys(itemDict).length,itemDict) // show length of dictionary and dictionary itself

if (tableMode!='t'){




    if(Object.keys(itemDict).length == 0){
        var highestItemId = 0
    }else{
        var displayBoard = document.getElementsByTagName('body')[0] // create a display board to populate
        for (const itemId in Object.keys(itemDict)){// for each glowstick in dictionary{1:["uncracked", 50, 50, 180], 2:["red", 20, 20, 90]}
            var highestItemId = parseInt(itemId)+1
            var itemArray = itemDict[highestItemId]
            var classStr = itemArray[0]
            var topPercentage = itemArray[1]
            var leftPercentage = itemArray[2]
            var rotateDegrees = itemArray[3]
            if (itemType=='glowstick'){ // make item a glowstick
                var newItem = document.createElement('div')
                newItem.id = highestItemId
                newItem.style.position = 'absolute'
                newItem.style.top = topPercentage+"%"
                newItem.style.left = leftPercentage+"%"
                newItem.style.transform = "rotate("+rotateDegrees+"deg)"
                newItem.style.caretColor= 'transparent'
                newItem.className = classStr
                newItem.onclick = crack
                console.log(newItem)
                displayBoard.appendChild(newItem)

            }else if(itemType=='bug'){ // make item a bug
                var containerItem = document.createElement('div')
                containerItem.id = highestItemId
                containerItem.style.background = 'transparent'
                containerItem.style.position = 'absolute'
                containerItem.style.top = topPercentage+"%"
                containerItem.style.left = leftPercentage+"%"
                containerItem.style.transform = "rotate("+rotateDegrees+"deg)"
                containerItem.style.caretColor= 'transparent'
                classArray = classStr.split(' ')

                for (const item in classArray){
                    if (['bug', 'bi', 'bi-bug-fill', 'uncracked-bug'].includes(classArray[item])){

                    }else{
                        console.log(classArray[item])
                        containerItem.classList.add(classArray[item])
                    }
                }

                containerItem.onclick = crack
                var newItem = document.createElement('i')
                newItem.style.caretColor= 'transparent'
                for (const item in classArray){
                    newItem.classList.add(classArray[item])
                }
                newItem.classList.add(classArray)
                containerItem.appendChild(newItem)
                console.log(containerItem)
                displayBoard.appendChild(containerItem)
            }
        }    
    }
}   

function crack(){
    // go to dict using this.id, and add color
    colors = [
        "yellow","red","orange","green","blue","pink"
    ]
    console.log('cracking')
    thisGlowstickArray = itemDict[this.id] // get existing array belonging to this glowstick
    var thisItem = document.getElementById(this.id) // get glowstick element so we can look at the class list
    
    if (itemType=='bug'){
        console.log('bugs')
        var thisInnerItem = thisItem.getElementsByTagName('i')[0]
        var thisInnerItemClassList = thisInnerItem.classList
        console.log('array>',thisGlowstickArray[0])
        console.log('class value:',thisInnerItemClassList.value)
        if (thisGlowstickArray[0].split(' ').includes('uncracked-bug')){
            var color = colors[Math.floor(Math.random()*colors.length)] // choose color
            thisInnerItem.classList.remove('uncracked-'+itemType)
            thisInnerItem.classList.add(color+'-'+itemType)
            thisItem.classList.add(color+'-'+itemType)
            itemDict[this.id] = [thisInnerItem.classList.value,thisGlowstickArray[1],thisGlowstickArray[2],thisGlowstickArray[3]] // create new array with color
        }
    }else if(itemType=='glowstick'){ 

        var thisItemClassList = thisItem.classList
        if (thisGlowstickArray[0]==thisItemClassList){
            var color = colors[Math.floor(Math.random()*colors.length)] // choose color
            thisItem.classList.remove('uncracked-'+itemType)
            thisItem.classList.add(color+'-'+itemType)
            itemDict[this.id] = [thisItem.classList.value,thisGlowstickArray[1],thisGlowstickArray[2],thisGlowstickArray[3]] // create new array with color
        }

    }
}


var percentage = correct / total * 100;
var time = sec;

//var sec = 0;
function pad ( val ) { return val > 9 ? val : "0" + val; }
    setInterval( function(){
        document.getElementById("seconds").innerHTML=pad(++sec%60);
        document.getElementById("minutes").innerHTML=pad(parseInt(sec/60,10));
    }, 1000);

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

    // IF DONE COMPLETELY WITH JS:

    // how could we work out if a question is the first in a session?
    // cookie flag
    // by default, session will be random
    // if first question in a session, generate new question


    // IF DONE SERVERSIDE WITH PYTHON:

    // OR store a record of all glowsticks in
    // done by: position coordinates, rotation, colour, cracked
    // for item in cookie, blit try this first
    // allows you to continue from a previous streak...
    // seperate reset button for glowsticks?

</script>

<div class = ''>
    
    <div class = 'dash-div'>
        <div class='stats-grid'>
            <div class='reset button' onclick=reset()>Reset stats -></div>
            <div class = 'timer' style="background:transparent">
                <span id="minutes" style="background:transparent"></span>:<span id="seconds" style="background:transparent"></span>
            </div>
            <div class='stats-item' style="background:transparent">
                <div class = 'ratio' style="background:transparent">
                    <span id="correct"></span>/<span id="total"></span> correct
                </div>
            </div>
            <div class='stats-item' style="background:transparent">
                <div class = 'percent' style="background:transparent">
                    <span id="percent"></span> %
                </div>
            </div>
            <div class='stats-item' style="background:transparent">
                <div class = 'speed' style="background:transparent">
                    <span id="speed"></span> seconds / mark
                </div>
            </div>
        </div>
    </div>

    <div class="question-div">
                        
        <h1>{{question}}</h1>
        <br>
        <input type="text" id="answer" name="answer" autocomplete="off" autofocus><br><br>

        <h1 id='try-again' style="display:none">Try again!</h1>
        <h1 id='hide' style="display:none">Correct answer: {{answer}}</h1>
                
    </div>

    <div class='button-div'>
        <div class='submit-button-wrapper'>
            <div class='submit' onclick=markQuestion()>Submit</div>
        </div>
    </div>

    <div class = 'bottom-menu-container'>
        <div class = 'bottom-menu-div'>
            <div class="select-item-div">
                <div  class='select-item-glowstick-container' onclick="selectItem('glowstick')"><div  id='glowstick'class="select-item-glowstick" onclick="selectItem('glowstick')" title="Glowsticks"></div></div>
                <div id='bug' class="select-item select-item-bug" onclick="selectItem('bug')" title="Bugs"><i class='bi bi-bug-fill'></i></div>
            </div>
            <div class = 'clear-screen-button button' onclick="clearItems()" title="Make space for more glow!">Clear screen</div>
        </div>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">Choose between Random, Test Mode or choose a table to practise<br>Note: There is no glow in test mode!</div>
    </div>
    <div id="modal2" class="modal">
        <div class="modal-content">Answer a question correctly to get a glowstick and click to crack it!</div>
    <div>
    <div id="modal3" class="modal">
        <div class="modal-content">Choose between glowsticks and glow-bugs</div>
    </div>

    
</div>
</div>

<script>

if (itemType=='bug'){
    var element = document.getElementById(itemType)
    element.style.textShadow= "0 0 10px #fff, 0 0 20px #fff, 0 0 30px cyan, 0 0 40px cyan, 0 0 50px fuchsia, 0 0 60px fuchsia, 0 0 70px fuchsia"
    element.classList.add('active-item-bug')
    document.getElementById('glowstick').classList.remove('active-item-glowstick')

}else if (itemType=='glowstick'){
    var element = document.getElementById(itemType)
    element.style.boxShadow= "0 0 10px white, 0 0 20px white, 0 0 30px rgb(255, 134, 255), 0 0 40px fuchsia, 0 0 50px fuchsia, 0 0 60px cyan, 0 0 70px plum"
    element.classList.add('active-item-glowstick')
    document.getElementById('bug').classList.remove('active-item-bug')
}

if(tutorial1=='true'){
    document.getElementById('modal1').style.display='block'
}

if(tutorial2=='true'){
    document.getElementById('modal2').style.display='block'
}

if(tutorial3=='true'){
    document.getElementById('modal3').style.display='block'
}


function randomIntFromInterval(min, max) { // min and max included 
    return Math.floor(Math.random() * (max - min + 1) + min)
}

function generate_random_question_and_answer(){
    var number1 = randomIntFromInterval(2, 12);
    var number2 = randomIntFromInterval(2, 12);
    var question = number1+' x '+number2;
    var answer =  number1*number2
    return {'question':question, 'answer':answer}
}

function generate_specific_question_and_answer(number1){
    var number2 = randomIntFromInterval(2, 12);
    var question = number1+' x '+number2;
    var answer =  number1*number2
    return {'question':question, 'answer':answer}
}

    /*
Note:
With current architecture, it will be impossible (or very difficult) to have the glow sticks remain on the screen between questions
positions would have to be generated and remembered between clicks with a cookie

If this happenned with 100% js, this would not be a problem
Consider how this could be done with JS?

logic to generate questions would be simple enough
get coookie data at the top of the page
generate random numbers
bit of a one page

page to fade in and out between questions

*/
if(tableMode=='s'){
    document.getElementById('specific-button').classList.add('active')
    document.getElementById('random-button').classList='button'
    document.getElementById('test-button').classList='button'
}else if(tableMode=='r'){
    document.getElementById('random-button').classList.add('active')
    document.getElementById('test-button').classList='button'
    document.getElementById('specific-button').classList='button specific'
}else if(mode='t'){       
    document.getElementById('test-button').classList.add('active')
    document.getElementById('random-button').classList='button'
    document.getElementById('specific-button').classList='button specific'
}
 
function setTableModeCookie(mode, table=null){
    // r = random, s = specific, t = test
    document.getElementById('modal1').style.display='none'
    if(mode=='s'){
        document.cookie = "tableMode=s,"+table
        window.location.replace('/tables/'+ table);
        clearItems()
    }else{
        if(mode=='r'){
            document.cookie = "tableMode=r,"+table
            clearItems()
        }else if(mode=='t'){
            document.cookie = "tableMode=t,"+table
            reset()
            clearItems()
        }
        window.location.replace('/tables/');
    }
    tutorial1='false'
    updateTutorialsCookie()
}

var answer = "{{answer}}"
var table = "{{table}}"
var incorrectAnswers = 0

document.addEventListener('keypress', function (e) {
    if (e.key === 'Enter') {
        console.log('given answer:', answer)
        console.log('correct answer:', document.querySelectorAll('input')[0].value)
        markQuestion()   
    }
});

function markQuestion(){
    // if correct answer
    console.log('table mode in markQuestion', tableMode)
    if(incorrectAnswers == 0){
        total+=1
    }
    if (answer==document.querySelectorAll('input')[0].value){
        if(incorrectAnswers == 0){
            correct+=1
            processModuleCookieData('correct')
            if (tableMode!='t'){
                addItem()
            }
            // add a glowstick to the glowstick cookie
            if (tableMode=='s'){
                window.location.replace('/tables/'+ "{{table}}"); 
                
            } else{
                window.location.replace('/tables/');
            }
        }else{
            if (tableMode!='t'){
                window.location.replace('/tables/'+ "{{table}}");
            }else{
                window.location.replace('/tables/');
            }
        }
        
    // if incorrect answer
    }else{
        if (tableMode!='t'){
            incorrectAnswers+=1
            if(incorrectAnswers==1){
                
            }
            document.getElementById('try-again').style.display = 'block'
            document.querySelectorAll('input')[0].value = ''
            
            if(incorrectAnswers >= 3){
                document.getElementById('try-again').style.display = 'none'
                document.getElementById('hide').style.display = 'block'
            }
        }else{
            updateCorrectTotalCookies()//increment cookies
            updateTime()
            processModuleCookieData('incorrect')
            window.location.replace('/tables/');
        }
    }
    updateCorrectTotalCookies()//increment cookies
    updateTime()
    updateItemCookie()// update glowstickCookie
    processModuleCookieData('incorrect')
    tutorial2 = 'false'
    updateTutorialsCookie()
}

//populate dash
try{
    document.getElementById('correct').innerHTML = correct.toString();
} catch(err){
    document.getElementById('correct').innerHTML = '0';
}
try{
    document.getElementById('total').innerHTML = total.toString();
} catch(err){
    document.getElementById('total').innerHTML = '0';
}
try{
    document.getElementById('speed').innerHTML = Math.round((time / correct)*10)/10;
} catch(err){
    document.getElementById('speed').innerHTML = '0';
}
try{
    document.getElementById('percent').innerHTML = Math.round(correct/total*100)
} catch(err){
    document.getElementById('percent').innerHTML = '0';
}

function updateCorrectTotalCookies(){
    document.cookie = "total=" + total.toString();
    document.cookie = "correct=" + correct.toString();
}

function updateDash(){
    document.getElementById('correct').innerHTML = correct.toString();
    document.getElementById('total').innerHTML = total.toString();
    document.getElementById('percent').innerHTML = Math.round(correct/total*100);
    time = sec;
    document.getElementById('speed').innerHTML = Math.round((time / correct)*10)/10;
}

function revealNextButtonAndHelps(){
    document.getElementsByClassName('help-links')[0].style.display = "block";
    document.getElementsByClassName('next-question-wrapper')[0].style.display = "block";
}

function reset(){
    document.getElementById('seconds').innerHTML = 0;
    document.getElementById('minutes').innerHTML = 0;
    document.getElementById('correct').innerHTML = 0;
    document.getElementById('total').innerHTML = 0;
    document.getElementById('speed').innerHTML = 0;

    document.cookie = "time=0";
    document.cookie = "total=0";
    document.cookie = "correct=0";
    
    document.cookie = "2=";
    document.cookie = "3=";
    document.cookie = "4=";
    document.cookie = "5=";
    document.cookie = "6=";
    document.cookie = "7=";
    document.cookie = "8=";
    document.cookie = "9=";
    document.cookie = "10=";
    document.cookie = "11=";
    document.cookie = "12=";
    location.reload();
}

function updateTime(){
    //set timer cookie with current time
    console.log('Just an int...');
    var end = Date.now();
    var total = Math.floor((end-start)/1000);
    var str_sec = sec.toString();
    var cookie_str = "time=" + str_sec;
    document.cookie = cookie_str;
    }

//sets a cookie with a given name and value
function setCookie (cName, cValue){//sets a cookie
    document.cookie = `${cName}=${cValue};path=/`;
}

//either returns the value of a cookie or "nope" if cookies doesn't exist
function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "nope";
}

// increases value of any given cookie, default of 1
function incrementCookie(cName, to_add = 1){
    var value = parseInt(getCookie(cName)) + to_add;
    setCookie(cName, value);
    console.log('Incremented');
    console.log(cName);
}


// add glowsticks to the screen one by one, each one is has an id of 0->...
// use glowStickCookie str to do this
// create dict from glowstick cookie str?
// if u = uncracked
// when cracked, get id number
// randomly choose color
// change class from uncracked to color
// cookie str = "{1:[color, x val, y val, rotation val], 2:[color, x val, y val, rotation val], "
// 

function addItem(){
    // create position
    var topPercentage = randomIntFromInterval(10, 75);
    var leftPercentage = randomIntFromInterval(10, 75);
    var rotateDegrees = randomIntFromInterval(1, 179);
    // create rotation
    // add glowstick to glowstick dict using highest glowstick number
    highestItemId+=1
    classStr = 'uncracked-'+itemType+' '+itemType
    if (itemType=='bug'){
        classStr+=' bi bi-bug-fill'
    }
    console.log(classStr)
    itemDict[highestItemId] = [classStr, topPercentage, leftPercentage, rotateDegrees]
}

function updateItemCookie(){
    document.cookie = itemType+"="+JSON.stringify(itemDict)
}

function selectItem(itemStr){
    let itemArray = ['bug', 'glowstick']
    document.cookie = 'itemType='+itemStr
    tutorial3='false'
    updateTutorialsCookie()
    /*for (const item in itemArray)(
        if (itemArray[item]==itemStr){

            document.getElementsByClassName(itemStr).style.
        }
    )    */
    
    clearItems()
}

function clearItems(){
    document.cookie = "glowstick="
    document.cookie = "bug="
    location.reload();
}

function getReport(){
    window.location.replace('/tables/report/');
}

function updateTutorialsCookie(){
    document.cookie='tutorial='+tutorial1+','+tutorial2+','+tutorial3
}

function processModuleCookieData(correctIncorrect){

    var moduleName = "{{table}}"

    if (getCookie(moduleName) != 'nope'){//if cookie exists
        var moduleCookieData = getCookie(moduleName).split("$");
        var moduleTotal = parseInt(moduleCookieData[0]);
        var moduleCorrect = parseInt(moduleCookieData[1]);
        var incorrectQuestions = moduleCookieData[2];
        if (typeof incorrectQuestions == 'undefined'){
            incorrectQuestions='';
        }
        
    } else {
        var moduleTotal = 0, moduleCorrect = 0, incorrectQuestions = ''; //start from zero
    }
    console.log('incorrectQuestions',incorrectQuestions)
    moduleTotal+=1;
    if(correctIncorrect == 'correct'){
        moduleCorrect+=1;
    }else if(correctIncorrect == 'incorrect'){
        var questionDescription = "{{question_description}}";
        if(incorrectQuestions.slice(0).includes(questionDescription)){
            
        }else{
            incorrectQuestions = incorrectQuestions + questionDescription + '!';
        }    
        
    }
    console.log(moduleTotal, moduleCorrect, incorrectQuestions)
    var cValue = moduleTotal.toString() + '$' + moduleCorrect.toString() + '$' + incorrectQuestions;
    setCookie(moduleName, cValue);  
}

</script>
{% endblock %}